In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time
import json
import os
#%%
df = pd.read_csv('cik_ticker.csv',sep="|")

In [2]:
df

,CIK,Ticker,Name,Exchange,SIC,Business,Incorporated,IRS
0,1090872,A,Agilent Technologies Inc,NYSE,3825.0,CA,DE,770518772.0
1,4281,AA,Alcoa Inc,NYSE,3350.0,PA,PA,250317820.0
2,1332552,AAACU,Asia Automotive Acquisition Corp,NaN,6770.0,DE,DE,203022522.0
3,1287145,AABB,Asia Broadband Inc,OTC,8200.0,GA,NV,721569126.0
4,1024015,AABC,Access Anytime Bancorp Inc,NaN,6035.0,NM,DE,850444597.0
...,...,...,...,...,...,...,...,...
13732,827056,ZVXI,Zevex International Inc,NaN,3845.0,UT,NV,870462807.0
13733,846475,ZYNX,Zynex Inc,NaN,3845.0,CO,NV,870403828.0
13734,1406796,ZYTC,Zyto Corp,NaN,3841.0,UT,NaN,205534033.0
13735,748015,ZZ,Sealy Corp,NYSE,2510.0,WA,DE,363284147.0
13736,827830,ZZGQI,Wilder Richman Historic Properties II LP,NaN,6513.0,CT,DE,133481443.0